*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
}
body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #0f172a, #1e3a8a);
}
.contenedor{
	background: white;
	width: 90%;
	max-width: 500px;
	padding: 30px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
h1{
	color: #1e3a8a;
	margin-bottom: 10px;
}
p{
	color: #555;
	margin-bottom: 20px;
}
input{
	width: 100%;
	padding: 12px;
	font-size: 18px;
	border: 2px solid #d1d5db;
	border-radius: 10px;
	margin-bottom: 15px;
}
button{
	padding: 12px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
	margin: 5px;
	transition: .3s;
}
#btnIntentar{
	background-color: #2563eb;
	color: white;
}
#btnIntentar:hover{
	background-color: #1d4ed8;
}
#btnReiniciar{
	background-color: #e5e7eb;
}
#btnReiniciar:hover{
	background-color: #d1d5db;
}
.alto{
	color: #dc2626;
}
.bajo{
	color: #ea580c;
}
.correcto{
	color: #16a34a;
}